html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #61543B;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #614B1E;
  position: fixed;
}

.logoContainer {
  margin: 10px 0 0 0 ;
}

.logoAccessible, .logoCoffee {
  font-size: 60px;
  margin: 0 20px;
}

.logoAccessible {
  color: #61543B;
  text-align: right;
  width: auto;
}

.logoCoffee {
  color: #E6DFD1;
  position: relative;
  left: 100%;
  width: auto;
}

.accessibleSide {
  background-color: #E6DFD1;
  color: #61543B;
  width: 70%;
  border-top-left-radius: 500px;
  position: static;
}

.coffeeSide {
  background-color: #61543B;
  color: #E6DFD1;
  width: 30%;
}

.mainText {
  margin: 30px -10px 0 30%;
  padding-right: 20px;
  position: static;
  height: 70%;
  overflow-x: hidden;
  text-align: right;
}

.navText {
  margin: 180px 0 30% 20px;
  text-align: left;
}
