@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #61543B;
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.cureveSide {
  background-color: #E6DFD1;
  color: #61543B;
  width: 20%;
  height: 100%;
  border-top-left-radius: 500px;
}

.infoSide {
  width: 80%;
  height: 100%;
  background-color: #E6DFD1;
}

.logoContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
}

.logoAccessible, .logoCoffee {
  font-size: 60px;
}

.logoAccessible {
  color: #61543B;
  width: 70%;
  text-align: right;
  padding-top: 20px;
}

.logoAccessibleText {
  padding-right: 15px;
}

.logoCoffee {
  color: #E6DFD1;
  background-color: #61543B;
  padding-top: 70px;
  width: 30%;
}

.logoCoffeeText {
  padding-left: 15px;
}

.textContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  height: 85%;
}

.accessibleSide, .coffeeSide {
  font-size: 24px;
}

.accessibleSide {
  color: #61543B;
  width: 70%;
  text-align: right;
  overflow-x: hidden;
}

.coffeeSide {
  color: #E6DFD1;
  background-color: #61543B;
  width: 30%;
  height: 100%;
}

.mainText, .navText {
  padding-top: 30px;
}

.mainText {
  padding-right: 15px;
  padding-bottom: 30px;
}

.navText {
  padding-left: 15px;
}
